<h3>{{ 'project-creation.copy' | translate }}</h3>

<div>{{ 'project-creation.copy-notice' | translate }}</div>

@if (loading) {
	<p class="color-gray">{{ 'project-creation.loading-projects' | translate }}</p>
} @if (!loading) {
	@if (!projects || projects.length === 0) {
		<div>
			<p class="color-gray">{{ 'project-creation.no-project-notice' | translate }}</p>
		</div>
	} @if (projects && projects.length > 0) {
		<div>
			<p>{{ 'project-creation.available-projects' | translate }}</p>
			<div class="project-list">
				@for (p of projects; track p) {
					<div class="list-item project-list-row"
						 [class.list-item-selected]="p.id === selectedProject?.id"
						 (click)="onProjectClicked(p)">
						<span class="wrap-label">{{ p.name }}</span>
					</div>
				}
			</div>
			<button [disabled]="!selectedProject" class="import-button"
					(click)="onImportClicked()">{{ 'project-creation.import-button' | translate }}
			</button>
		</div>
	}
}
