@import '../../../styles';

.project-list {
	overflow-y: auto;
}

.project-list-row {
	display: flex;
	justify-content: space-between;
}

.project-name {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.import-button {
	margin-top: $space-base;
}
