@use "../../../styles";
@use "../../../colors";

.toolbar {
	left: 0px;
	padding-left: styles.$space-large;
	padding-right: styles.$space-large;
	padding-top: styles.$space-base;
	padding-bottom: styles.$space-base;
	color: colors.$color-white;
	background-color: colors.$color-mid;
	height: styles.$space-huge;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.toolbar > p {
	color: colors.$color-gray-light;
}
