// Use material design colors: http://hauke-stieler.de/public/color-palette/
// In this case: "Teal"

// Colors:
$color-very-light: #e0f2f1; // #100
$color-light: #80cbc4; // #200
$color-mid: #26a69a; // #400
$color-dark: #00796b; // #700
$color-very-dark: #004d40; // #900

// Grey-scale:
$white: #ffffff;
$very-light-gray: #eeeeee; // #200
$light-gray: #e0e0e0; // #300
$gray-mid: #9e9e9e; // #500
$very-dark-gray: #424242; // #900
