// Use material design colors: http://hauke-stieler.de/public/color-palette/

// Colors:
$color-very-light: #e0f2f1; // #100 teal
$color-light: #80cbc4; // #200 teal
$color-mid: #26a69a; // #400 teal
$color-dark: #00796b; // #700 teal
$color-very-dark: #004d40; // #900 teal

// Grey-scale:
$color-white: #ffffff;
$color-gray-very-light: #eeeeee; // #200
$color-gray-light: #d2d2d2; // a bit darker than #300
$color-gray-mid: #9e9e9e; // #400
$color-gray-very-dark: #424242; // #900

// Others:
$color-error: #ef5350; // #400 red
$color-error-dark: #d32f2f; // #700 red
$color-error-very-light-transparent: #ffcdd2c0; // #100 red

$color-warn: #ffca28; // #400 orange
$color-warn-dark: #ff6f00; // #700 orange
$color-warn-very-light-transparent: #ffecb3c0; // #100 orange
