@import "colors.scss";

// =====================
// Global distances etc.
// =====================

$space-base: 10px;
$space-small: $space-base / 2;
$space-large: $space-base * 2;
$space-huge: $space-base * 4;

// =====
// Fonts
// =====

$font-small: 9pt;

* {
	font-family: Dejavu Sans, sans-serif;
	font-weight: 300;
}

b {
	font-weight: 500;
}

small {
	font-size: $font-small;
}

code {
	font-family: monospace;
}

h2 {
	margin-top: $space-base;
	margin-bottom: $space-base;
}

// ==============
// General things
// ==============

body {
	color: $very-dark-gray;
	margin: 0px;
	height: 100vh;
}

// Container around a screen filling component for better spacing to the screen edges
.root-container {
	margin: $space-large;
}

// ==========
// Alignments
// ==========

.center {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

// ===========
// UI elements
// ===========

button {
	height: $space-huge;
	padding-left: $space-large;
	padding-right: $space-large;
	background-color: $color-very-light;
	border: none;
	border: 1px solid $color-light;
}

button:hover {
	border: 1px solid $color-mid;
}

button::-moz-focus-inner { // remove dotted line in Firefox
	border: 0
}

button:disabled {
	background-color: $very-light-gray;
	border-color: $light-gray;
}

a {
	color: $color-very-dark;
}

a:hover {
	color: $color-dark;
}

// Use the SVG as down-arrow instead of the default
select {
	height: 29px; // Actually want  17px but have to add 12px because of custom background (probably)
	width: 162px; // Actually want 150px but have to add 12px because of custom background (probably)
	padding: 5px;
	background-color: white;
	border: 1px solid $color-light;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url('/assets/arrow-down.svg');
	background-size: $space-base * 1.5;
	background-position: calc(100% - 8px) 10px;
	background-repeat: no-repeat;
}


// For lists created by e.g. *ngFor
.list-item {
	height: $space-huge;
	line-height: $space-huge;
	border-left: 1px solid $color-light;
	border-right: 1px solid $color-light;
	border-top: 1px solid $color-light;
	padding-left: $space-base;
	padding-right: $space-base;
}

.list-item:last-child {
	border: 1px solid $color-light;
}

.list-item:hover {
	border: 1px solid $color-mid;
}

.list-item:hover + .list-item { // hide border for next list item
	border-top: none;
}

ul {
	list-style: none;
	padding-left: $space-huge;
	text-indent: -$space-large;
}

li:before {
	content: "–";
	display: block;
	float: left;
	width: $space-large;
	color: $gray-mid;
}

li {
	margin-bottom: $space-small;
}

input,
textarea{
	// So when setting "width", the input/textarea outer size really matched the given width. Otherwise the inner width
	// would be set. When then using "width:100px" we would actually have a width of 122px
	// (100px + 2 * 10px padding + 2 * 1px border). The "border-box" value prevents this strange behavior.
	box-sizing: border-box;
	border: 1px solid $color-light;
	padding: $space-small;
	margin: 0px;
	width: 150px;
}

input:focus,
textarea:focus {
	border: 1px solid $color-mid;
}

input.ng-invalid:not(form),
textarea.ng-invalid:not(form)  {
	border: 1px solid $color-warn;
}

.input-field-label {
	display: inline-block;
	min-width: 180px;
}

.hline {
	border-bottom: 1px solid $light-gray;
	margin: $space-large $space-base;
}
