@import "colors.scss";

// Global distances etc.
$space-base: 10px;
$space-large: $space-base * 2;
$space-huge: $space-base * 4;

// Fonts
$font-small: 8pt;

// General things
body {
	color: $very-dark-gray;
	margin: 0px;
	height: 100vh;
}

* {
	font-family: Dejavu Sans, sans-serif;
	font-weight: 300;
}

// Container aroung a screen filling component for better spacing to the screen edges
.root-container {
	margin: $space-large;
}

// Alignments
.center {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

// UI elements
button {
	height: $space-huge;
	padding-left: $space-large;
	padding-right: $space-large;
	background-color: $color-very-light;
	border: none;
	border: 1px solid $color-light;
}
button:hover {
	border: 1px solid $color-mid;
}

a {
	color: $color-very-dark;
}
a:hover {
	color: $color-dark;
}

.list-item {
	height: $space-huge;
	line-height: $space-huge;
	border-left: 1px solid $color-light;
	border-right: 1px solid $color-light;
	border-top: 1px solid $color-light;
	padding-left: $space-base;
	padding-right: $space-base;
}
.list-item:last-child {
	border: 1px solid $color-light;
	margin-bottom: -$space-base;
}
.list-item:hover {
	border: 1px solid $color-mid;
}
.list-item:hover + .list-item { // hide border for next list item
	border-top: none;
}

.toolbar {
	left: 0px;
	padding: $space-base;
	background-color: $color-mid;
	height: $space-huge;
	display: flex;
	align-items: center;
}
