# Server side
server/server
server/stm
server/server.debug
server/coverage.out
server/go.sum
server/test.log

# Migration files
server/database/.tmp.*

# Client caches and stuff
client/.angular/

# IDE stuff
**.idea
client/.run

# Docker stuff
postgres-data
.env

# Backups
*.sql.gz

# Example files
example*
