# Server side
server/server
server/server.debug
server/coverage.out
server/go.sum
server/test.log

# Migration files
server/database/.tmp.*

# IDE stuff
**.idea

# Docker stuff
postgres-data

# Backups
*.sql.gz