<div class="url-input-heading" i18n>URL to GeoJSON, OSM-XML, GPX, EsriJson, KML or WKT data:</div>
<input class="url-input" [(ngModel)]="queryUrl">
<button (click)="onLoadButtonClicked()" i18n>Load</button>

<div class="hline"></div>

<p i18n>Loading data from Overpass:</p>
<ol>
	<li i18n="loading data from overpass">Create your query</li>
	<li i18n="loading data from overpass">Click on "Export"</li>
	<li i18n="loading data from overpass">Copy the link after "raw data directly from" (right click and "copy link")</li>
	<li i18n="loading data from overpass">Paste this URL in here</li>
</ol>
