<h3>{{'project-creation.remote-heading' | translate}}</h3>

<div class="url-input-heading">{{'project-creation.url-file-format-notice' | translate}}</div>
<input class="url-input" [(ngModel)]="queryUrl">
<button (click)="onLoadButtonClicked()">{{'project-creation.load-button' | translate}}</button>

<div class="hline"></div>

<h3>{{'project-creation.overpass-heading' | translate}}</h3>

<p>{{'project-creation.loading-title' | translate}}</p>
<ol>
	<li>{{'project-creation.load-li-1' | translate}}</li>
	<li>{{'project-creation.load-li-2' | translate}}</li>
	<li>{{'project-creation.load-li-3' | translate}}</li>
	<li>{{'project-creation.load-li-4' | translate}}</li>
</ol>
