@import "../../../styles";

:host {
	min-height: 0px;
	display: flex;
	flex-direction: column;
}

button {
	position: relative; // needed to set z-Index on hover
	background-color: white;
	margin-right: -1px; // get rid of douple sized border between two buttons
}
button.selected:hover,
.selected {
	border-bottom: 2px solid $color-mid;
	background-color: $color-very-light;
}
button:hover {
	z-index: 1;
}

.tab-list {
	display: flex;
	flex-direction: row;
	padding-left: $space-small;
}

.tab-content {
	margin-top: -1px;
	border-top: 1px solid $color-light;
	padding: $space-base;
	min-height: 0px;
	display: flex;
	flex-direction: column;
	overflow: auto;
	flex-grow: 1;
	height: 100%;
}

.tab-content-border {
	border-right: 1px solid $color-light;
	border-left: 1px solid $color-light;
	border-bottom: 1px solid $color-light;
}
