@import '../../styles.scss';

:host {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

.root-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
	margin-top: 0px;
	min-height: 0px; // important for scrolling (for whatever reason, s. above)
}

.project-properties-container {
	display: flex;
	flex-direction: column;
}
.project-properties-container div {
	margin-bottom: $space-base
}

.map-container {
	margin-top: $space-large;
	width: 65%;
	display: flex;
	flex-direction: column;
}

#map {
	height: 100%;
	width: 100%;
}

.save-button {
	margin-left: $space-base;
}
