<div class="toolbar">
	<div>
		<button [routerLink]="['/manager']">&#60; Cancel</button>
		<button class="save-button" (click)="onSaveButtonClicked()" [disabled]="!creationForm.form.valid || !hasTasks">Save</button>
	</div>
</div>
<div class="root-container">
	<div class="project-properties-container">
		<form #creationForm="ngForm">
			<h2>Properties:</h2>
			<div>
				<span class="input-field-label">Name:</span>
				<input [(ngModel)]="newProjectName" required name="nameField">
			</div>
			<div>
				<span class="input-field-label">Max. points per task:</span>
				<input type="number" [(ngModel)]="newMaxProcessPoints" required name="maxProcessPointsField">
			</div>
		</form>
		<form #divisionForm="ngForm">
			<h2>Divide:</h2>
			<div>
				<span class="input-field-label">Shape size:</span>
				<input type="number" [(ngModel)]="gridCellSize" [disabled]="!hasTasks" required name="shapeSizeField">
				meters
			</div>
			<div>
				<span class="input-field-label">Shape:</span>
				<select [(ngModel)]="gridCellShape" [disabled]="!hasTasks" required name="shapeSelection">
					<option value="squareGrid">square</option>
					<option value="hexGrid">hexagon</option>
					<option value="triangleGrid">triangle</option>
				</select>
			</div>
			<br>
			<span>This divides the last drawn polygon into the selected shape. Beware, all other shapes will be removed.</span><br><br>
			<button (click)="onDivideButtonClicked()" [disabled]="!divisionForm.form.valid && !hasTasks">Divide</button>
		</form>
	</div>
	<div class="map-container">
		<div id="map"></div>
	</div>
</div>
