@import '../../styles.scss';

// Making the task list content scrollable was made with the help of this article:
// https://moduscreate.com/blog/how-to-fix-overflow-issues-in-css-flex-layouts/

:host {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

.back-button-container {
	display: flex;
	align-items: center;
}

.task-details-container {
	 // Moves details up if there's space (otherwise this container would stick to the bottom of the page
	margin-bottom: auto;
}

.root-container {
	display: flex;
	flex-grow: 1;
	margin-top: 0px;
	min-height: 0px; // important for scrolling (for whatever reason, s. above)
}

.task-list-details-container {
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: $space-large;
	margin-right: $space-large;
}

.tab-container {
	display: flex;
	flex-direction: column;
	min-height: 0px; // important for scrolling (for whatever reason, s. above)
}

.map-container {
	width: 65%;
	display: flex;
	flex-direction: column;
}

.map {
	height: 100%;
}

.project-label {
	color: $light-gray;
	margin-left: $space-base;
}

.tab-container-item {
	margin-bottom: $space-large;
}

.description-text {
	white-space: pre-wrap;
	margin-bottom: $space-large;
}
