@import '../../styles.scss';

.root-container {
	display: flex;
	height: 100%;
}

.root-container-item {
	width: 50%;
}

.task-list-container {
	margin-right: $space-large;
}

.task-details-map-container {
	display: flex;
	flex-direction: column;
}

.map-container,
.details-container {
	height: 50%;
}

.map-container {
	display: flex;
	flex-direction: column;
}

.map {
	height: 100%;
}

.project-label {
	color: $very-light-gray;
	margin-left: $space-base;
}
