<div class="toolbar">
	<div>
		<button [routerLink]="['/manager']">&#60; Cancel</button>
		<button class="save-button" (click)="onSaveButtonClicked()">Save</button>
	</div>
</div>
<div class="root-container">
	<div class="project-properties-container">
		<div>
			<h2>Properties:</h2>
			<div>
				<span class="input-field-label">Name:</span>
				<input [(ngModel)]="newProjectName">
			</div>
			<div>
				<span class="input-field-label">Max. points per task:</span>
				<input type="number" [(ngModel)]="newMaxProcessPoints">
			</div>
		</div>
		<div>
			<h2>Divide:</h2>
			<div>
				<span class="input-field-label">Shape size:</span>
				<input type="number" [(ngModel)]="gridCellSize">
				meters
			</div>
			<div>
				<span class="input-field-label">Shape:</span>
				<select [(ngModel)]="gridCellShape">
					<option value="squareGrid">square</option>
					<option value="hexGrid">hexagon</option>
					<option value="triangleGrid">triangle</option>
				</select>
			</div><br>
			<span>This divides the last drawn polygon into the selected shape. Beware, all other shapes will be removed.</span><br><br>
			<button (click)="onDivideButtonClicked()">Divide</button>
		</div>
	</div>
	<div class="map-container">
		<div id="map"></div>
	</div>
</div>
