<div class="toolbar">
	<button [routerLink]="['/manager']">&#60; Back</button>
	<p class="project-label">Project: {{thisProject?.name}}</p>
</div>
<div class="root-container">
	<div class="task-list-details-container">
		<app-tabs [tabs]="['Tasks', 'Users']" #tabs>
			<div *ngIf="tabs.tabIndex === 0">
				<div class="tab-container">
					<h1>Tasks</h1>
					<app-task-list class="task-list-style" *ngIf="tasks" [projectId]="thisProject?.id" [tasks]="tasks"></app-task-list>
				</div>
			</div>
			<div *ngIf="tabs.tabIndex === 1">
				<div class="tab-container">
					<h1>Users</h1>
					<app-user-list [users]="thisProject?.users"></app-user-list>
				</div>
			</div>
		</app-tabs>

		<div class="task-details-container">
			<h1>Task Details</h1>
			<app-task-details></app-task-details>
		</div>
	</div>
	<div class="map-container">
		<h1>Map</h1>
		<app-task-map *ngIf="tasks" [tasks]="tasks" class="map"></app-task-map>
	</div>
</div>
