<h1>Projekte</h1>
<div *ngIf="projects.length !== 0">
	<div *ngFor="let p of projects" class="list-item" (click)="onProjectListItemClicked(p.id)">
		<div>
			{{p.name}} <span class="light-label">({{p.id}})</span>
		</div>
		<div>
			<span class="light-label" *ngIf="p.owner === currentUser">Owned by you</span>
		</div>
	</div>
</div>
<div *ngIf="projects.length === 0">
	<p class="light-label">You currently don't have any projects.</p>
</div>
<button class="create-project-button" [routerLink]="['/new-project']">Create project</button>
