<div *ngIf="canDelete">
	<div *ngIf="!requestDeleteConfirmation">
		<button (click)="onDeleteButtonClicked()" class="space-right">Delete Project</button>
	</div>
	<div *ngIf="requestDeleteConfirmation">
		<span class="space-right">Really delete Project?</span>
		<button (click)="onNoButtonClicked()" class="space-right" [disabled]="canDelete">No</button>
		<button (click)="onYesButtonClicked()" [disabled]="canDelete">Yes</button>
	</div>
</div>
<div *ngIf="!isOwner">
	<button (click)="onLeaveProjectClicked()">Leave project</button>
</div>
