<div class="toolbar">
	<button [routerLink]="['/manager']">&#60; Cancel</button>
	<button class="save-button" (click)="onSaveButtonClicked()">Save</button>
</div>
<div class="root-container">
	<div class="project-properties-container">
		<div>
			Name: 
			<input [(ngModel)]="newProjectName">
		</div>
		<div>
			Max. points per task:
			<input type="number" [(ngModel)]="newMaxProcessPoints">
		</div>
	</div>
	<div class="map-container">
		<div id="map"></div>
		<div>
			<h2>Divide into squares:</h2>
			<div>
				Sqaure size:
				<input type="number" [(ngModel)]="gridCellSize">
				meters
			</div><br>
			<button (click)="onDivideButtonClicked()">Divide</button>
		</div>
	</div>
</div>
