@import "../../../styles";

:host {
	margin-top: $space-base;
}

.list-container {
	overflow-y: auto;
	height: 100%;
}

.list-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.gray-label {
	color: $color-gray-mid;
}

.selected {
	background-color: $color-very-light;
}

.done-label {
	color: green;
}
