@import "../../../styles";

.list-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.gray-label {
	color: $gray-mid;
}

.selected {
	background-color: $color-very-light;
}

.done-label {
	color: green;
}
