<h2 i18n>Tasks</h2>

<div class="list-container">
	<div *ngFor="let t of tasks" class="list-item" (click)="onListItemClicked(t.id)"
		 [ngClass]="{selected: t.id == selectedTaskId}">
		<div>
			{{t | taskTitle}}
			<span class="color-gray">({{t.processPoints}} / {{t.maxProcessPoints}})</span>
			<span *ngIf="t.isDone" class="done-label" i18n>Done</span>
		</div>
		<span *ngIf="!!t.assignedUser && !isAssignedToCurrentUser(t)"
			  class="color-gray">{{t.assignedUser.name}}</span>
		<span *ngIf="isAssignedToCurrentUser(t)" class="color-gray" i18n>(you)</span>
	</div>
</div>
