@import "../../../styles";

:host {
	margin-top: $space-base;
}

.list-container {
	overflow-y: auto;
}

.list-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.selected {
	background-color: $color-very-light;
}

.done-label {
	color: green;
	margin-left: $space-base;
}
