@import "../../styles.scss";

.headline {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.assign-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.assign-container > button {
	margin-left: $space-large;
}

.process-point-container {
	display: flex;
	align-items: center;
	height: 40px; // To stay equally high, regardless of what the content is
}

.points-label {
	margin-right: 5px;
}

.save-button {
	margin-left: $space-large;
}
