@import "../../styles.scss";

.headline {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.assign-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.assign-container > button {
	margin-left: $space-large;
}

input {
	width: 50px;
}

.save-button {
	margin-left: $space-large;
}
