<div class="headline">
	<p>Task: {{task?.id}}</p>
	<div class="assign-container">
		<button *ngIf="!task?.assignedUser" (click)="onAssignButtonClicked()">Assign me</button>
		<p *ngIf="!!task?.assignedUser && task?.assignedUser !== currentUser">Assigned to: {{task?.assignedUser}}</p>
		<button *ngIf="task?.assignedUser === currentUser" (click)="onUnassignButtonClicked()">Unassign</button>
	</div>
</div>
<div class="process-point-container">
	<div *ngIf="task?.assignedUser === currentUser; else currentUserElse">
		<span class="points-label">Points:</span>
		<input [(ngModel)]="newProcessPoints">
		/
		{{task?.maxProcessPoints}}
		<button class="save-button" (click)="onSaveButtonClick()">Save</button>
	</div>
	<ng-template #currentUserElse>
		<span class="points-label">Points:</span>
		{{task?.processPoints}}
		/
		{{task?.maxProcessPoints}}
	</ng-template>
</div>
