@use '../../../styles';
@use "../../../colors";
@use '../../../icons';

:host {
	display: flex;
	flex-direction: column;
}

button {
	background-color: colors.$color-white-transparent;
	width: styles.$space-huge;
	height: styles.$space-huge;
	padding: unset;
	margin-bottom: -1px; // Get rid of double border
}

button:hover {
	background-color: colors.$color-very-light-transparent;
}
button:hover {
	z-index: 1;
}
