<div>
	<app-toolbar>
		<p i18n>Welcome {{userName}} :)</p>
		<div class="toolbar-left">
			<div class="language-selection">
				<span class="language-selection-label" i18n>Language selection:</span>
				<app-language-selection></app-language-selection>
			</div>
			<div class="separator"></div>
			<button (click)="onLogoutClicked()" i18n="logout button">Logout</button>
		</div>
	</app-toolbar>
	<div class="root-container">
		<app-project-list></app-project-list>
		<div>
			<button [routerLink]="['/new-project']" i18n>Create project</button>
			<input id="projectInput" type="file" content="Upload" accept=".json" (change)="onImportProjectClicked($event)" style="display:none;">
			<button class="import-button" onclick="document.getElementById('projectInput').click();" i18n>Import project</button>
		</div>
	</div>
</div>

<app-footer></app-footer>
