<div>
	<app-toolbar>
		<p>{{'dashboard.welcome' | translate: {userName: userName} }}</p>
		<div class="toolbar-left">
			<div class="language-selection">
				<span class="lnr lnr-earth language-selection-label"></span>
				<span class="language-selection-label">{{'language-selection' | translate}}</span>
				<app-language-selection></app-language-selection>
			</div>
			<div class="separator"></div>
			<app-icon-button (clicked)="onLogoutClicked()" icon="lnr-exit" textKey="dashboard.logout-button"></app-icon-button>
		</div>
	</app-toolbar>
	<div class="root-container">
		<app-project-list></app-project-list>
		<div class="new-project-buttons-container">
			<app-icon-button [routerLink]="['/new-project']" icon="lnr-plus-circle" textKey="dashboard.create-project"></app-icon-button>
			<input id="projectInput" type="file" content="Upload" accept=".json" (change)="onImportProjectClicked($event)" style="display:none;">
			<app-icon-button (clicked)="onUploadClicked()" class="import-button" icon="lnr-upload" textKey="dashboard.import-project"></app-icon-button>
		</div>
	</div>
</div>

<app-footer></app-footer>
