@use "../../styles";
@use "../../colors";
@use "../../icons";

:host {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.root-container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: styles.$space-large;
	margin-bottom: styles.$space-large;
}

.toolbar-left {
	display: flex;
	flex-direction: row;
}

.language-selection {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.language-selection-label {
	margin-right: styles.$space-base;
}

.separator {
	margin-right: styles.$space-large;
	margin-left: styles.$space-large;
	border-left: solid 1px colors.$color-gray-very-light;
}

.new-project-buttons-container {
	display: flex;

	.import-button {
		margin-left: styles.$space-base;
	}
}
