<div>
	<app-toolbar>
		<p>{{'dashboard.welcome' | translate: {userName: userName} }}</p>
		<div class="toolbar-left">
			<div class="language-selection">
				<span class="language-selection-label">{{'language-selection' | translate}}</span>
				<app-language-selection></app-language-selection>
			</div>
			<div class="separator"></div>
			<button (click)="onLogoutClicked()">{{'dashboard.logout-button' | translate}}</button>
		</div>
	</app-toolbar>
	<div class="root-container">
		<app-project-list></app-project-list>
		<div>
			<button [routerLink]="['/new-project']">{{'dashboard.create-project' | translate}}</button>
			<input id="projectInput" type="file" content="Upload" accept=".json" (change)="onImportProjectClicked($event)" style="display:none;">
			<button class="import-button" onclick="document.getElementById('projectInput').click();">{{'dashboard.import-project' | translate}}</button>
		</div>
	</div>
</div>

<app-footer></app-footer>
