@import "../styles";

:host {
	width: 100%;
	height: 100%;
	display: block;
}

.host-in-test-mode {
	height: calc(100% - #{$space-large});
}
.host-in-prod-mode {
	height: 100%;
}

.test-label {
	display: flex;
	justify-content: center;
	background-color: $color-warn;
	height: $space-large;
}
