<div class="assign-container">
	<h2>Task {{task?.id}}</h2>
	<div class="assign-button-container" *ngIf="needUserAssignment">
		<button *ngIf="!task?.assignedUser?.uid" (click)="onAssignButtonClicked()">Assign to me</button>
		<span *ngIf="!!task?.assignedUser?.uid && task?.assignedUser?.uid !== currentUserId">Assigned to: {{assignedUserName}}</span>
		<button *ngIf="task?.assignedUser?.uid === currentUserId" (click)="onUnassignButtonClicked()">Unassign</button>
	</div>
</div>

<!-- Process points row -->
<div class="process-point-container">
	<form class="flex-line" *ngIf="task?.assignedUser?.uid === currentUserId || !needUserAssignment; else currentUserElse" #processPointsForm="ngForm">
		<span class="points-label">Points:</span>
		<input name="processPointInput"
			   [(ngModel)]="newProcessPoints"
			   type="number"
			   required
			   appMinValidator="0"
			   appMaxValidator="{{task?.maxProcessPoints}}">
		<span class="of-process-point-label">/ {{task?.maxProcessPoints}}</span>
		<button class="save-button" (click)="onSaveButtonClick()" [disabled]="!processPointsForm.form.valid">Save
		</button>
	</form>
	<ng-template #currentUserElse>
		<span class="points-label">Points:</span>
		{{task?.processPoints}}
		/
		{{task?.maxProcessPoints}}
	</ng-template>
</div>

<!-- Open in JOSM row -->
<button (click)="onOpenJosmButtonClicked()">Open in JOSM</button>
<button (click)="onOpenOsmOrgButtonClicked()">Open in OSM.org</button>
