@import "../../../styles";

.assign-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.assign-button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.process-point-container {
	display: flex;
	align-items: center;
	height: 40px; // To stay equally high, regardless of what the content is
	margin-bottom: $space-base;
}

.points-label {
	margin-right: $space-small;
}

.process-point-input {
	max-width: 70px;
}

.of-process-point-label {
	margin-left: $space-base;
}

.save-button,
.assign-button-container > button {
	margin-left: $space-large;
}

.open-button-row {
	margin-top: $space-large;
}

.open-osm-button,
.done-button {
	margin-left: $space-base;
}
