@import '../../../styles';

:host {
	position: relative;
}

.zoom-control {
	position: absolute;
	z-index: 5; // Because of OpenLayers claiming some z-indices
	left: 0px;
	top: 0px;
	margin: $space-base;
}

#map {
	height: 100%;
}
