@use '../../../styles';
@use '../../../colors';
@use '../../../icons';

// Making the task list content scrollable was made with the help of this article:
// https://moduscreate.com/blog/how-to-fix-overflow-issues-in-css-flex-layouts/

:host {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

// TODO remove this and instead establish a "darkMode"-flag on the progress-bar component
:host ::ng-deep app-progress-bar .percentage-label {
	color: colors.$color-white;
}

app-progress-bar {
	margin-left: styles.$space-huge;
}

.back-button-icon {
	margin-right: styles.$space-small;
}

.toolbar-item {
	display: flex;
	justify-content: flex-start;
}

.back-button-container {
	display: flex;
	align-items: center;
}

.created-at-label {
	display: flex;
	align-items: center;
	margin-left: styles.$space-huge;
}

.root-container {
	display: flex;
	flex-grow: 1;
	min-height: 0; // important for scrolling (for whatever reason, s. above)
}

.task-list-details-container {
	width: 35%;
	min-width: 377px; // smallest width where the button don't switch to a new row and destroy the layout
	max-width: 450px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-right: 1px solid colors.$color-light;
	padding-top: styles.$space-base;
}

.description-container {
	margin-left: styles.$space-base;
	margin-right: styles.$space-base;
	margin-bottom: styles.$space-base;
}

.description-label {
	margin-top: 0;
}

.description-text {
	white-space: pre-wrap;
}

.tab-container-padding {
	padding: styles.$space-base;
}

.tab-container {
	display: flex;
	flex-direction: column;
	min-height: 0; // important for scrolling (for whatever reason, s. above)
}

.task-tab {
	flex-grow: 1;
	overflow-y: hidden;
}

.inner-tabs {
	flex-grow: 1;
	margin-top: styles.$space-base;
}

.task-list {
	overflow-y: hidden;
}

.comment-list {
	flex-grow: 1;
	overflow-y: hidden;
	height: 100%;
}

.map-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.project-label {
	margin-left: styles.$space-base;
}

.tab-container-item {
	margin-bottom: styles.$space-large;
}

.user-tab {
	display: flex;
	flex-direction: column;
}

.user-list {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}
