<app-toolbar>
	<div class="back-button-container">
		<button [routerLink]="['/manager']">&#60; Back</button>
		<p class="project-label">Project: {{project?.name}}</p>
	</div>
</app-toolbar>
<div class="root-container">
	<div class="task-list-details-container">
		<div *ngIf="project?.description.trim().length !== 0">
			<h2>Description:</h2>
			<div class="description-text">{{project?.description}}</div>
		</div>
		<app-tabs [tabs]="['Tasks', 'Users', 'Settings']" #tabs>
			<div *ngIf="tabs.tabIndex === 0" class="task-tab">
				<div class="tab-container">
					<app-task-details [needUserAssignment]="project?.needsAssignment" [projectId]="project?.id"></app-task-details>
					<app-task-list *ngIf="project.tasks" [tasks]="project.tasks" class="task-list"></app-task-list>
				</div>
			</div>
			<div *ngIf="tabs.tabIndex === 1">
				<div class="tab-container">
					<h2>Users</h2>
					<app-user-invitation *ngIf="isOwner()" class="tab-container-item"
										 [projectId]="project?.id"></app-user-invitation>
					<app-user-list [project]="project" [users]="project?.users"></app-user-list>
				</div>
			</div>
			<div *ngIf="tabs.tabIndex === 2">
				<div class="tab-container">
					<h2>Settings</h2>
					<app-project-settings [projectId]="project?.id"
										  [projectOwner]="project.owner"></app-project-settings>
				</div>
			</div>
		</app-tabs>
	</div>
	<div class="map-container">
		<h2>Map</h2>
		<app-task-map *ngIf="project.tasks" [tasks]="project.tasks" class="map"></app-task-map>
	</div>
</div>
