<div>
	<app-notification></app-notification>
	<div>
		<div class="center logo">
			<img src="./assets/icon.png">
		</div>
		<div class="center heading">
			Welcome to the SimpleTaskManager for <a href="https://openstreetmap.org" target="_blank">OpenStreetMap</a>
		</div>
		<div class="center login-button">
			<button (click)="onLoginButtonClick()">Login</button>
		</div>
		<div class="notice">
			<div class="notice-container">
				<div class="notice-bar"></div>
				<div class="notice-text">
					<b>New features in 0.10.0:</b>
					<ul>
						...
					</ul>
					Internals:
					<ul>
						<li>Use user-ID instead of user name</li>
						<li>Removed API version v1, v2 and v2.1</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>
