@use "../../../styles";
@use "../../../colors";

:host {
	display: flex;
	flex-direction: column;
}

.list-item {
	display: flex;
	justify-content: space-between;
}

.list-item-column {
	display: flex;
	align-items: center;
}

.no-wrap {
	white-space: nowrap;
}

.light-label {
	color: colors.$color-gray-mid;
}

.progress-bar {
	width: 180px;
	justify-content: end;
	margin-right: styles.$space-small;
}

.admin-label {
	min-width: 10px;
}

.ownership-notice {
	margin-top: styles.$space-base;
	align-self: end;
}
