@import "../../../styles";

.list-item {
	display: flex;
	justify-content: space-between;
}

.list-item-column {
	display: flex;
	align-items: center;
}

.no-wrap {
	white-space: nowrap;
}

.light-label {
	color: $color-gray-mid;
}

.progress-bar {
	width: 180px;
	justify-content: end;
	margin-right: $space-small;
}

.admin-label {
	min-width: 10px;
}

.bottom-line {
	margin-top: $space-large;
	display: flex;
	justify-content: space-between;
}

.import-button {
	margin-left: $space-base;
}
