<h1>{{ 'project-list.projects' | translate }}</h1>
@if (projects?.length !== 0) {
	<div>
		@for (p of projects; track p) {
			<div class="list-item" (click)="onProjectListItemClicked(p.id)">
				<span class="wrap-label">{{ p.name }}</span>
				<div class="list-item-column no-wrap">
					<span class="light-label">({{ p.doneProcessPoints }} / {{ p.totalProcessPoints }})</span>
					<app-progress-bar class="progress-bar" [progressPoints]="p.doneProcessPoints"
									  [totalPoints]="p.totalProcessPoints"></app-progress-bar>
					<div class="admin-label">
						@if (p.owner.uid === currentUserId) {
							<span class="light-label">*</span>
						}
					</div>
				</div>
			</div>
		}
	</div>
} @if (projects?.length === 0) {
	<div>
		<p class="light-label">{{ 'project-list.no-project-notice' | translate }}</p>
	</div>
} @if (projects?.length !== 0) {
	<span class="light-label ownership-notice">{{ 'project-list.you-own-this-project-notice' | translate }}</span>
}
