<div>
	<div class="center logo">
		<img src="./assets/icon.png">
	</div>
	<div class="center heading">
		Welcome to the SimpleTaskManager for <a href="https://openstreetmap.org" target="_blank">OpenStreetMap</a>
	</div>
	<div class="center login-button">
		<button (click)="onLoginButtonClick()">Login</button>
	</div>
	<div class="notice">
		<div class="notice-container">
		<div class="notice-bar"></div>
		<div class="notice-text">
			<b>New features in 0.6.0:</b>
			<ul>
				<li>Delete projects you own</li>
				<li>Leave a project</li>
				<li>New shapes for the polygon division</li>
			</ul>
			Internals:
			<ul>
				<li>New API version 1.1</li>
				<li>Load <code>data</code> using routing resolvers</li>
				<li>Usage of <code>data</code> section Angular route to get data</li>
				<li>Additional documentation and tests</li>
				<li>Automatic renewal of SSL-Certificates</li>
			</ul>
		</div>
		</div>
	</div>
</div>
<app-footer></app-footer>
