<app-notification></app-notification>
<div>
	<div class="center logo">
		<img src="./assets/icon.png">
	</div>
	<div class="center heading">
		Welcome to the SimpleTaskManager for <a href="https://openstreetmap.org" target="_blank">OpenStreetMap</a>
	</div>
	<div class="center login-button">
		<button (click)="onLoginButtonClick()">Login</button>
	</div>
	<div class="notice">
		<div class="notice-container">
		<div class="notice-bar"></div>
		<div class="notice-text">
			<b>New features in 0.7.0:</b>
			<ul>
				<li>Validation of input fields</li>
				<li>Show errors</li>
				<li>You can now remove users from projects you own</li>
			</ul>
			Internals:
			<ul>
				<li>New API version v2.1</li>
				<li>Use go modules</li>
				<li>Switch from AES+SHA256 to HMAC-SHA256</li>
			</ul>
		</div>
		</div>
	</div>
</div>
<app-footer></app-footer>
