@import "../../../styles";

// We can't use flex layout and put it below the toolbar, because 1.) it lays above everything and 2.) this component is
// directly embedded into the app-component and a toolbar does not exist there
.notification-container {
	z-index: 10;
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
}

.info-container,
.error-container,
.warning-container,
.loading-container {
	display: flex;
	width: 100%;
	border-bottom: $color-light 1px solid;
	min-height: 50px;
}

.text-box {
	margin-right: $space-large;
}

.loading-container {
	background-color: #ffffffa0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-container{
	background-color: $color-very-light-transparent;
}

.error-container{
	background-color: $color-error-very-light-transparent;
}

.warning-container{
	background-color: $color-warn-very-light-transparent;
}

.notification-text-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	padding: $space-base;
}

.error-text {
	color: $color-error-dark;
	align-self: baseline;
}

.warn-text {
	color: $color-warn-dark;
	align-self: baseline;
}

.close-button-wrapper {
	margin: $space-base;
	display: flex;
	align-items: flex-start;
}

.close-button-container {
	display: flex;
	align-items: center;
}

.remaining-notifications-label {
	margin-right: $space-base;
	white-space: nowrap;
	align-content: center;
}

@keyframes circle-loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader.simple-circle {
	transform-origin: center center;
	border: 1px solid transparent;
	border-right-color: $color-dark;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	animation: circle-loader 0.85s infinite;
}
