@import "../../../styles";

// We can't use flex layout and put it below the toolbar, because 1.) it lays above everything and 2.) this component is
// directly embedded into the app-component and a toolbar does not exist there
.notification-container {
	z-index: 10;
	width: 100%;
	position: absolute;
}

.text-box-container,
.error-container,
.warning-container,
.info-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background-color: #ffffffc0;
}

.text-box-container{
	border-bottom: $color-light 1px solid;
}

.text-box {
	margin-right: $space-large;
}

.error-container{
	border-bottom: $color-light 1px solid;
	background-color: $color-error-very-light-transparent;
}

.warning-container{
	border-bottom: $color-light 1px solid;
	background-color: $color-warn-very-light-transparent;
}

.error-text {
	color: $color-error-dark;
}

.warn-text {
	color: $color-warn-dark;
}

.close-button-container {
	position: absolute;
	right: $space-large;
}

.remaining-notifications-label {
	margin-right: $space-large;
}

@keyframes circle-loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader.simple-circle {
	transform-origin: center center;
	border: 1px solid transparent;
	border-right-color: $color-dark;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	animation: circle-loader 0.85s infinite;
}
