<div *ngIf="isOwner">
	<div *ngIf="!requestConfirmation">
		<button (click)="onDeleteButtonClicked()" class="space-right">{{'project-settings.delete-button' | translate}}</button>
	</div>

	<div *ngIf="requestConfirmation">
		<span class="space-right">{{'project-settings.really-delete-notice' | translate}}</span>
		<button (click)="onNoButtonClicked()" class="space-right">{{'no' | translate}}</button>
		<button (click)="onYesButtonClicked()">{{'yes' | translate}}</button>
	</div>
</div>
<div *ngIf="!isOwner">
	<div *ngIf="!requestConfirmation">
	<button (click)="onLeaveProjectClicked()">{{'project-settings.leave-button' | translate}}</button>
	</div>

	<div *ngIf="requestConfirmation">
		<span class="space-right">{{'project-settings.really-leave-notice' | translate}}</span>
		<button (click)="onNoButtonClicked()" class="space-right">{{'no' | translate}}</button>
		<button (click)="onYesButtonClicked()">{{'yes' | translate}}</button>
	</div>
</div>

<button class="export-project-button" (click)="onExportButtonClicked()"><span class="lnr lnr-download"></span>{{'project-settings.export-button' | translate}}</button>

<div class="hline"></div>

<div>
	<form #creationForm="ngForm">
		<h2>{{'settings' | translate}}</h2>
		<div class="form-entry">
			<p class="input-field-label">{{'name' | translate}}</p>
			<input class="name-input" [(ngModel)]="newProjectName" required name="nameField">
		</div>
		<div class="form-entry">
			<p class="input-field-label">{{'description' | translate}}</p>
			<textarea name="description-text-area" class="description-text-area" [(ngModel)]="newProjectDescription"></textarea>
		</div>
	</form>

	<button class="save-button" (click)="onSaveButtonClicked()" [disabled]="!creationForm.form?.valid">{{'save-button' | translate}}</button>
</div>

