<div *ngIf="isOwner">
	<div *ngIf="!requestConfirmation">
		<button (click)="onDeleteButtonClicked()" class="space-right">Delete Project</button>
	</div>

	<div *ngIf="requestConfirmation">
		<span class="space-right">Really delete Project?</span>
		<button (click)="onNoButtonClicked()" class="space-right">No</button>
		<button (click)="onYesButtonClicked()">Yes</button>
	</div>
</div>
<div *ngIf="!isOwner">
	<div *ngIf="!requestConfirmation">
	<button (click)="onLeaveProjectClicked()">Leave project</button>
	</div>

	<div *ngIf="requestConfirmation">
		<span class="space-right">Really leave Project?</span>
		<button (click)="onNoButtonClicked()" class="space-right">No</button>
		<button (click)="onYesButtonClicked()">Yes</button>
	</div>
</div>

<div class="hline"></div>


<div class="project-properties-container">
	<form #creationForm="ngForm">
		<h2>Properties:</h2>
		<div class="form-entry">
			<span class="input-field-label">Name:</span>
			<input class="name-input" [(ngModel)]="newProjectName" required name="nameField">
		</div>
		<div class="form-entry">
			<p>Description:</p>
			<textarea name="description-text-area" class="description-text-area" [(ngModel)]="newProjectDescription"></textarea>
		</div>
	</form>
</div>

<button (click)="onSaveButtonClicked()" [disabled]="!creationForm.form.valid">Save</button>
