@use "../../../styles";
@use "../../../colors";
@use "../../../icons";

.export-project-button, .save-button  {
	margin-top: styles.$space-base;
}

.space-right {
	margin-right: styles.$space-base;
}

.description-container {
	display: flex;
	flex-direction: column;
}

.description-text-area {
	width: 100%;
	height: 120px;
}

.description-length-label {
	margin-top: styles.$space-small;
	align-self: flex-end;
}

.name-input {
	width: 100%;
}

.josm-data-source-input {
	width: 100%;
}

// Also apply style to divs in child components using ::ng-deep
.project-properties-container ::ng-deep .form-entry {
	margin-bottom: styles.$space-base
}