<app-toolbar>
	<div>
		<button [routerLink]="['/manager']">&#60; Cancel</button>
		<button class="save-button" (click)="onSaveButtonClicked()" [disabled]="!creationForm.form.valid || !hasTasks">
			Save
		</button>
	</div>
</app-toolbar>
<div class="root-container">
	<div class="project-properties-container">
		<form #creationForm="ngForm">
			<h2>Properties:</h2>
			<div class="form-entry">
				<span class="input-field-label">Name:</span>
				<input [(ngModel)]="newProjectName" required name="nameField">
			</div>
			<div class="form-entry">
				<span class="input-field-label">Max. points per task:</span>
				<input type="number"
					   [(ngModel)]="newMaxProcessPoints"
					   required
					   name="maxProcessPointsField"
					   appMinValidator="0">
			</div>
			<div class="form-entry">
				<p>Description:</p>
				<textarea name="description-text-area" class="description-text-area" [(ngModel)]="projectDescription"></textarea>
			</div>
		</form>

		<h2>Create shapes:</h2>
		<!-- Different shape creation methods: Divide, Upload -->
		<app-tabs [tabs]="['Draw', 'Upload', 'Remove']" #tabs (tabSelected)="onTabSelected($event)">
			<div *ngIf="tabs.tabIndex === 0">
				<div class="tab-container">
					<app-shape-divide [gridCellShape]="gridCellShape"
									  [gridCellSize]="gridCellSize"
									  [lastDrawnPolygon]="lastDrawnPolygon"
									  [hasTasks]="hasTasks"
									  (shapesCreated)="onShapesCreated($event)"></app-shape-divide>
				</div>
			</div>
			<div *ngIf="tabs.tabIndex === 1">
				<div class="tab-container">
					<app-shape-upload (featuresUploaded)="onShapesUploaded($event)"></app-shape-upload>
				</div>
			</div>
			<div *ngIf="tabs.tabIndex === 2">
				<div class="tab-container">
					<span>Click on a polygon to delete it.</span>
				</div>
			</div>
		</app-tabs>
	</div>
	<div class="map-container">
		<div id="map"></div>
	</div>
</div>
