@use "../../../styles";
@use "../../../colors";

.version-label {
	margin: styles.$space-large;
}

.sep {
	margin-left: styles.$space-large;
	margin-right: styles.$space-large;
	border-right: 1px solid colors.$color-gray-mid;
}
