@use "../../../styles";

.description-container {
	display: flex;
	flex-direction: column;
}

.description-text-area {
	width: 100%;
	height: 120px;
}

.description-text-area-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.description-length-label {
	margin-top: styles.$space-small;
	align-self: flex-end;
}