<div class="form-entry flex-line">
	<span class="input-field-label" i18n>Name:</span>
	<input [(ngModel)]="projectProperties.projectName" required name="nameField">
</div>
<div class="form-entry flex-line">
	<span class="input-field-label" i18n>Max. points per task:</span>
	<input type="number"
		   [(ngModel)]="projectProperties.maxProcessPoints"
		   required
		   name="maxProcessPointsField"
		   appMinValidator="1">
</div>
<div class="form-entry">
	<div class="description-text-area-head">
		<p i18n>Description:</p>
		<span class="font-small">{{descriptionInput.textLength}} / {{config.maxDescriptionLength}}</span>
	</div>
	<textarea name="description-text-area" class="description-text-area"
			  #descriptionInput
			  [(ngModel)]="projectProperties.projectDescription"
			  [maxLength]="config.maxDescriptionLength"></textarea>
</div>
