@import "../../styles.scss";

:host {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.toolbar {
	justify-content: space-between;
}

.toolbar > p {
	color: $very-light-gray;
}
