<form #divisionForm="ngForm">
	<span i18n>This divides the selected task into smaller tasks of the selected shape and size.</span>

	<div class="hline"></div>

	<div class="form-entry flex-line space-between">
		<span class="input-field-label" i18n>Shape size:</span>
		<div class="flex-line">
			<input class="meter-input" type="number" [(ngModel)]="gridCellSize" required name="shapeSizeField">
			<span class="meter-label" i18n>meters</span>
		</div>
	</div>

	<div class="form-entry flex-line space-between">
		<span class="input-field-label" i18n>Shape:</span>
		<select [(ngModel)]="gridCellShape" required name="shapeSelection">
			<option value="squareGrid" i18n>square</option>
			<option value="hexGrid" i18n>hexagon</option>
			<option value="triangleGrid" i18n>triangle</option>
		</select>
	</div>

	<button (click)="onPreviewButtonClicked()" [disabled]="!divisionForm.form.valid" i18n>Preview</button>
	<button (click)="onDivideButtonClicked()" [disabled]="!divisionForm.form.valid" class="divide-button" i18n>Divide</button>
</form>
