@import '../../../styles';
@import '../../../icons';

.space-between {
	justify-content: space-between;
}

.meter-input {
	min-width: 0px;
	width: 100%;
}

.meter-label {
	margin-left: $space-base;
}

.task-selected-label {
	margin-left: $space-base;
}
