@use '../../../styles';
@use '../../../colors';
@use '../../../icons';

.space-between {
	justify-content: space-between;
}

.meter-input {
	min-width: 0px;
	width: 100%;
}

.meter-label,
.divide-button {
	margin-left: styles.$space-base;
}

.lnr-warning {
	margin-right: styles.$space-small;
}

button.selected:hover,
.selected {
	border-left: 2px solid colors.$color-mid;
	background-color: colors.$color-lighter;
}