@use "sass:math";
@use "../../../styles";
@use "../../../colors";
@use "../../../icons";

:host {
	display: inline-block;
}

.button {
	display: flex;
	align-items: center;

	.lnr {
		margin-right: styles.$space-base;
	}
}