@use "sass:math";
@import "../../../styles";
@import "../../../colors";
@import "../../../icons";

:host {
	display: inline-block;
}

.button {
	display: flex;
	align-items: center;

	.lnr {
		margin-right: $space-base;
	}
}