<div>
	<app-notification></app-notification>
	<div class="language-selection">
		<span class="language-selection-label">{{"language-selection" | translate}}</span>
		<app-language-selection></app-language-selection>
	</div>
</div>
<div>
	<div>
		<div class="center logo">
			<img src="./assets/icon.png">
		</div>
		<div class="center heading" [innerHTML]="'login.welcome' | translate"></div>
		<div class="center login-button">
			<button (click)="onLoginButtonClick()">{{"login.login-button" | translate}}</button>
		</div>
		<div class="notice">
			<div class="notice-container">
				<div class="notice-bar"></div>
				<div class="notice-text" [innerHTML]="changelogTemplate"></div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>
