@import "../../../styles";
@import "../../../colors";

:host {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.language-selection-label {
	margin-right: $space-base;
}

.language-selection {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: $space-base;
	justify-content: flex-end;
}

.logo {
	margin-top: $space-huge;
	opacity: 0.75;
}

.heading {
	max-width: 500px;
	font-size: 20pt;
	margin-top: $space-huge;
}

.login-button {
	padding: $space-large;
	margin: $space-huge;
	border-top: 1px solid $color-gray-light;
	border-bottom: 1px solid $color-gray-light;
}

.notice {
	display: flex;
	justify-content: center;
}

.notice-container {
	width: 500px;
}

.warning-container {
	background-color: $color-warn-very-light;
	padding-left: 20px;
	padding-right: 20px;
	width: 500px;
	margin-bottom: 15px;
}