<div class="background-images">
	<div class="fadeout-image fadeout-to-right">
		<img src="./assets/login-background-right.png">
	</div>
	<div class="image-buffer"></div>
	<div class="fadeout-image fadeout-to-left">
		<img src="./assets/login-background-left.png">
	</div>
</div>
<div class="white-transparent language-selection">
	<span class="lnr lnr-earth language-selection-label"></span>
	<span class="language-selection-label">{{"language-selection" | translate}}</span>
	<app-language-selection></app-language-selection>
</div>
<div class="centered-content">
	<div class="logo">
		<img src="./assets/icon.png">
	</div>
	<div class="heading" [innerHTML]="'login.welcome' | translate"></div>
	<div class="sub-heading" [innerHTML]="'login.welcome-subtitle' | translate"></div>
	<div class="white-transparent login-button-container">
		<app-icon-button (clicked)="onLoginButtonClick()" icon="lnr-enter" textKey="login.login-button"></app-icon-button>
	</div>
	<div class="notice-container white-transparent">
		<div class="warning-centered" *ngIf="noticeTemplate">
			<p [innerHTML]="noticeTemplate"></p>
		</div>
		<div class="notice-centered" *ngIf="changelogTemplate">
			<p [innerHTML]="changelogTemplate"></p>
		</div>
	</div>
	<app-footer></app-footer>
</div>
<app-notification></app-notification>
