<app-notification></app-notification>
<div class="language-selection">
	<span class="language-selection-label" i18n>Language selection:</span>
	<app-language-selection></app-language-selection>
</div>
<div>
	<div>
		<div class="center logo">
			<img src="./assets/icon.png">
		</div>
		<div class="center heading" i18n>
			Welcome to the SimpleTaskManager for <a href="https://openstreetmap.org" target="_blank">OpenStreetMap</a>
		</div>
		<div class="center login-button">
			<button (click)="onLoginButtonClick()" i18n>Login</button>
		</div>
		<div class="notice">
			<div class="notice-container">
				<div class="notice-bar"></div>
				<div class="notice-text" i18n="@@LOGIN_CHANGELOG">
					<p><b>Changes in 1.3.0:</b></p>
					New features:
					<ul>
						<li>More language selection drop-down menus</li>
						<li>Task list is now sorted by process state</li>
					</ul>
					Bug fixes:
					<ul>
						<li>Reduce unnecessary logging</li>
						<li>Project creation: Save button enabled but data wasn't completely entered</li>
						<li>Task name sometimes not shown</li>
						<li>Remove unnecessary zoom buttons</li>
						<li>Fix broken styling of very long notifications</li>
						<li>Show task name instead of ID</li>
						<li>All kind of errors will now be catched</li>
					</ul>
					Infrastructure:
					<ul>
						<li>The server now makes daily database backups</li>
					</ul>
					Internals:
					<ul>
						<li>Tasks are now withing the project DTO class</li>
						<li>Added swagger UI as better API documentation</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>
