@import '../../../styles';

:host {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.comment-list-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: $color-gray-very-light;
	overflow-y: auto;
	flex: 1;
}

.comment {
	width: 70%;
	padding: $space-base;
	margin: $space-small $space-base 0 $space-base;
	background-color: white;
	border: 1px solid $color-gray-light;
}

.comment:last-child {
	margin-bottom: $space-base;
}

.own-comment {
	align-self: flex-end;
	//border-right: 3px solid $color-gray-mid;
	background-color: $color-very-very-light;
}

.author {
	margin-top: $space-small;
	font-size: $font-small;
	font-style: italic;
	color: $color-gray-mid;
}

.input-container {
	height: 200px;
}