@use '../../../styles';
@use "../../../colors";
@use '../../../icons';

:host {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.comment-list-title {
	padding: styles.$space-base;
}

.comment-list-container {
	display: flex;
	flex-direction: column-reverse; // Reverse direction to always automatically scroll to the bottom (i.e. to the latest comment)
	align-items: flex-start;
	background-color: colors.$color-gray-very-light;
	overflow-y: auto;
	flex: 1;

	[class~='comment']:last-child {
		margin-top: styles.$space-base;
	}
}

.comment {
	width: 70%;
	padding: styles.$space-base;
	margin: styles.$space-small styles.$space-base 0 styles.$space-base;
	background-color: white;
	border: 1px solid colors.$color-gray-light;
}

.comment:first-child { // first-child due to the reverse direction (first-child is the bottom one)
	margin-bottom: styles.$space-base;
}

.comment-metadata {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.own-comment {
	align-self: flex-end;
	background-color: colors.$color-very-very-light;
}

.metadata {
	margin-top: styles.$space-small;
	font-size: styles.$font-small;
	font-style: italic;
	color: colors.$color-gray-mid;
}

.no-comment-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	margin-bottom: styles.$space-base;
}

.no-comment-marker-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1;
	padding: styles.$space-base * 2.5;

	.no-comment-marker-line {
		border-bottom: 1px solid rgba(colors.$color-gray-mid, 0.65);
	}
}

.no-comment-notice {
	font-style: italic;
	color: colors.$color-gray-mid;
	text-align: center;
}

.input-container {
	display: flex;
	flex-direction: row;
	padding: styles.$space-base;
}

.send-button {
	display: flex;
	justify-content: center;
	align-self: flex-end;
	align-items: center;
	width: styles.$space-base * 2.5;
	height: styles.$space-base * 2.5;
	margin-left: styles.$space-base;
	font-size: styles.$font-base;
	color: colors.$color-mid;
	border: 1px solid colors.$color-light;
	border-radius: styles.$space-base * 1.25;
}

.send-button:hover {
	color: colors.$color-dark;
	border: 1px solid colors.$color-dark;
	background-color: colors.$color-very-light;
	cursor: pointer;
}