@if (title) {
	<h2 class="comment-list-title">{{ title }}</h2>
}

<div class="comment-list-container">
	@for (c of currentComments; track c) {
		<div class="comment" [class.own-comment]="isFromCurrentUser(c)">
			<div>{{ c.text }}</div>
			<div class="comment-metadata">
				<div class="metadata">
					@if (!isFromCurrentUser(c)) {
						<div>
							{{ c.author.name }}
						</div>
					}
				</div>
				<div class="metadata">{{ c.creationDate | date:'short' : '' : currentLocale }}</div>
			</div>
		</div>
	}
	@if (currentComments.length === 0) {
		<div class="no-comment-container">
			<div class="no-comment-marker-container">
				<div class="no-comment-marker-line"></div>
				<div></div>
			</div>
			<div class="no-comment-notice" [innerHTML]="'comment.no-comments-yet' | translate "></div>
			<div class="no-comment-marker-container">
				<div class="no-comment-marker-line"></div>
				<div></div>
			</div>
		</div>
	}
</div>
<div class="input-area">
	<div class="input-field-row">
		<textarea rows="5"
                  #commentInput
				  [(ngModel)]="enteredComment"
				  (keydown.control.enter)="onSendButtonClicked()"
				  [maxLength]="config.maxCommentLength">
		</textarea>
		<div class="lnr lnr-chevron-right send-button" (click)="onSendButtonClicked()"
			 [title]="'comment.send' | translate"></div>
	</div>
	<div class="input-length-label-row">
		<span>{{ 'length' | translate }}: {{ commentInput.textLength }} / {{ config.maxCommentLength }}</span>
	</div>
</div>
