<div class="comment-list-container">
	<div *ngFor="let c of currentComments" class="comment" [class.own-comment]="isFromCurrentUser(c)">
		<div>{{ c.text }}</div>
		<div class="comment-metadata">
			<div class="metadata">
				<div *ngIf="!isFromCurrentUser(c)">
					{{ c.author.name }}
				</div>
			</div>
			<div class="metadata">{{ c.creationDate | date:'short' : '' : currentLocale }}</div>
		</div>
	</div>
</div>
<div class="input-container">
	<textarea rows="4" [(ngModel)]="enteredComment"></textarea>
	<div class="lnr lnr-chevron-right send-button" (click)="onSendButtonClicked()" title="Send (TODO translate)"></div>
</div>