[Unit]
Description=STM database backup creation

[Service]
WorkingDirectory=/home/stm/simple-task-manager
Type=oneshot
PrivateTmp=true
Environment=STM_DB_USERNAME=stm
ExecStart=/home/stm/simple-task-manager/create-backup.sh

[Install]
WantedBy=multi-user.target
