[Unit]
Description=STM database backup creation

[Service]
WorkingDirectory=/home/stm/simple-task-manager
Type=oneshot
PrivateTmp=true
EnvironmentFile=/home/stm/simple-task-manager/.env
ExecStart=/home/stm/simple-task-manager/create-backup.sh

[Install]
WantedBy=multi-user.target
